@import '~bootstrap/scss/bootstrap';
$light-tea: #dbc3ab;
$dark-tea: #c49c73;

body {
  background: linear-gradient(to bottom, $light-tea 20%, $dark-tea 70%) no-repeat;
  background-attachment: fixed;
  margin-bottom: 2rem;
}

main {
  margin-top: 1.5rem;
}
